body 
{
    /* background-color: lightgray; */
    background: url('../images/background.webp') no-repeat;
    width: 100%;
    height: auto;
    background-size: cover;
}

.container 
{
    background-color: rgba(40, 0, 0, 0.2);
}